img.laura{
    width: 150px;
}
h1 {
    color:maroon;

}
body {
    background-color: black;
}
p {
    color: orange;
    font-size: 25px;
}
ul {
    color: orange;
    font-size: 23px;
}
h2 {
    color: maroon;
}